.footer {
  background-color: $blackColor;
  padding: 30px 0;

  &__text {
    color: $whiteColor;
    margin: 20px 0;
  }

  &__line {
    border-bottom: 3px solid $accentColor;
    width: 80px;
  }
}

.footer__container {




  // @media (min-width: 992px) {
  //     margin-left: 8.333333%;
  //     margin-right: 8.333333%;
  //   }
}

.footer__tablet {
  display: flex;
  // justify-content: space-between;
}

.list {
  margin: 0;
  padding: 0;
}

.services {
  // @media screen and (min-width: 768px) {
  //     margin-left: 100px;
  //   }

  @media screen and (min-width: 1200px) {
    &:nth-child(n) {
      padding-left: 100px;
    }
  }

  margin-left: auto;
  margin-right: auto;



  &__title {
    font-weight: 700;
    margin-bottom: 15px;
    color: $whiteColor;
  }

  &__item {

    margin-top: 10px;
  }

  &__link {
    color: $greyColor;
    font-size: 16px;
    line-height: 1.88;
    margin-top: 10px;
    margin-bottom: 20px;

    &:hover,
    &:focus {
      color: $greyColor;

    }
  }

}