// =====================================================================================================================


.header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: $blackColor;
  


  &__container {
  justify-content: start;
    align-items: center;
    display: flex;
  
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.menu {
          margin-left: auto;
          margin-right: 30px;
  &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

  }

  &__link {
    color: $whiteColor;
    font-weight: 700;
        &:hover,
        &:focus {
          color: $greyColor;
      
        }
  }
}