.sidenav {
    height: 100%;
    position: fixed;
    width: 90px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $blackColor;
    overflow-x: hidden;
    padding-top: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__icons {
        fill: $whiteColor;
        text-align: center;

            &:hover,
            &:focus {
                fill: $accentColor; 
            }
    }

    &__list{
        padding: 0;
    }
}

.sidenav__item {
    margin-top: 20px;
    bottom: 0;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
}



main {
    margin-left: 90px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


.sidenav {


    &__list {
        width: 100%;
        margin-bottom: 70px;
    }

    &__link {
        color: $whiteColor;
        font-weight: 700;
        margin-top: 40px;
    }
}