.main-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 600px;
    // background-image:url(../../images/background.jpg);
    background-size: cover;
    margin-bottom: -1px;
    margin: auto;
    display: flex;

    &__container {
        max-width: 1200px;
        width: 60%;
        text-align: left;
    }

    &__secContainer {
        width: 40%;
        text-align: left;
        margin-top: 50px;
    }

    &__secText {
        color: $lightGrey;
        font-size: 18px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        max-width: 90%;

    }

    &__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 1.36;
        letter-spacing: 0.06em;

        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 100px;
        text-align: left;

        margin-right: auto;
        color: $blackColor;
    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__text {
        color: $blackColor;
        font-size: 42px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        font-weight: 500;

        margin-left: 100px;
        text-align: left;

    }

    &__btn {
        width: 300px;
        height: 70px;
        font-size: 28px;
        background-color: $accentColor;
        text-align: center;
        border: 2px solid $accentColor;

        margin-left: 200px;

        &__text {
            color: $whiteColor;
        }
    }

    &__btn:after {
        background: $whiteColor;
        transition: all .35s;
        color: $blackColor;
    }

    &__btn:hover .btn_text {
        color: $accentColor;
    }

    .container_btn {
        margin-left: -100px;
        margin-top: 100px;
    }

    &__order {
        padding: 10px 32px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        border: solid transparent;
        background-color: var(--accent-text-color);
        color: var(--white-text-color);
        font-family: inherit;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--primary-text-color);
            cursor: pointer;
        }
    }
}

.vanta {
    height: 800px;
}

.icons {
    fill: $accentColor;
}