.main-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 600px;
    // background-image:url(../../images/background.jpg);
    background-size: cover;
    margin-bottom: -1px;
    margin: auto;
    &__container {
        max-width: 1200px;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        margin-top: 200px;
        margin-bottom: 30px;
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        color: $whiteColor;
    }

    &__list{
        margin: 0;
        padding: 0;
    }

    &__text{
        color: $whiteColor;
    }

    &__order {
        padding: 10px 32px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        border: solid transparent;
        background-color: var(--accent-text-color);
        color: var(--white-text-color);
        font-family: inherit;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--primary-text-color);
            cursor: pointer;
        }
    }
}

.vanta {
    height: 800px;
}

.icons {
    fill: $accentColor;
}


