// Display
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

// margins

.margin-14-right {
    margin-right: 14px;
}

.margin-16-right {
    margin-right: 14px;
}

.margin-18-right {
    margin-right: 14px;
}

.margin-36-top {
    margin-top: 36px;
}

.margin-100-top {
    margin-top: 100px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

// .btn {
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 25px;
//     display: block;
//     width: 200px;
//     height: 40px;
//     font-size: 18px;
//     text-decoration: none;
//     color: $whiteColor;
//     border: 2px solid $whiteColor;
//     letter-spacing: 2px;
//     text-align: center;
//     position: relative;
//     transition: all .35s;
// }

// .btn_text {
//     position: relative;
//     z-index: 2;
//     color: $whiteColor;
// }

// .btn2:after {
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 0;
//     width: 0;
//     height: 100%;
//     background: $accentColor;
//     transition: all .35s;
//     color: $whiteColor;
// }

// .btn:hover .btn_text {
//     color: $accentColor;
// }

// .btn:hover:after {
//     width: 100%;
// }



//pading

// Button Order service 
.btn {

    margin-top: 25px;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    border-radius: 0;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.btn_text {
    position: relative;
    z-index: 2;
}

.btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $accentColor;
    transition: all .35s;
    color: $whiteColor;
}

.btn:hover .btn_text {
    color: #fff;
}

.btn:hover:after {
    width: 100%;
}


//servicesSection btn

.services-btn {
    display: inline-block;

    border-radius: 10px;
    border: 4px double $accentColor;
    color: $whiteColor;
    text-align: center;
    font-size: 22px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

.services-btn .services-text {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.services-btn .services-text:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.services-btn:hover {
    background-color: $accentColor;
}

.services-btn:hover .services-text {
    padding-right: 25px;
}

.services-btn:hover .services-text:after {
    opacity: 1;
    right: 0;
}

//landingpage-section__btn

.landingpage-section__btn {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $greyColor;


    border-radius: 4px;
    padding: 6px 22px;
    border: solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;

        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.landing-Page-section-active-btn {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $accentColor;

    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 22px;
    border: solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;
    }
}



.wrapper {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

/* Показать контент после загрузки */
.loaded .wrapper {
    opacity: 1;
    visibility: visible;
}


// title--------------------------------------------------------------------------------->
.main {

    &__title {
        margin: 20px 0 20px;
        padding: 0 0 15px;
        color: $darkGrey;
        font-size: 28px;
        line-height: 24px;
        position: relative;
        vertical-align: top;
        box-shadow: 0 -1px 0 #d0d0d0 inset;
        font-weight: 600;
        text-align: center;
    }
}

.main__title:after {
    left: 0;
    right: 0;
    content: '';
    bottom: -4px;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    position: absolute;
    border: 1px solid #fff;
    background-color: $accentColor;
}