// Display
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

// margins

.margin-14-right {
    margin-right: 14px;
}

.margin-16-right {
    margin-right: 14px;
}

.margin-18-right {
    margin-right: 14px;
}

.btn {
    
}

//pading

