@use 'sass:math';

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/
@import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/**
* Подключение sass function и mixins и extends стилей
*/
@import 'config/functions';
@import 'config/mixins';
@import 'config/patternSelectors';

/** Обнуление */
@import 'config/reset';

/**
* Библиотеки
* раскомментировать для использования
*/
// @import 'libs/aos';
// @import 'libs/swiper';

/**
* Подключение custom scrollbar для всего сайта
*/
@import 'config/scrollbar';

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/
@import 'config/base';

/**
* БЕМ блоки используемые во всё проекте
*/
@import 'config/common';

/**
* Подключение стилей отдельных блоков и секций
*/
@import 'components/header';
@import 'components/footer';
@import 'components/sidebar';

@import 'mainSections/mainSection';
@import 'mainSections/servicesSection';
@import 'mainSections/aboutUs.scss';
@import 'mainSections/whyChooseUs.scss';
@import 'mainSections/sendRequest.scss';


@import 'pages/landingPage.scss';
@import 'pages/portfolioPage.scss';


@import 'components/footer';